* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 1125px;
}
.header-header {
  background-color: #f2ceda9c;
  width: 100%;
  height: 862px;
}
.header-title {
  display: flex;
  justify-content: space-between;
}
.header-links {
  display: flex;
  list-style-type: none;
  gap: 40px;
  align-items: center;
  font-size: 14px;
  font-weight: 400px;
  color: #1501017e;
}
.header-h1 {
  display: flex;
  align-items: center;
  font-weight: 700px;
  font-size: 15px;
  transition: all 0.4s linear;
  color: red;
}

.header-h1:hover {
  font-size: 20px;
  color: rgb(87, 8, 234);
  border-radius: 5px;
}

.header-btn1 {
  width: 165px;
  height: 49px;
  margin-top: 20px;
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  transition: all 0.5s linear;
}
.header-btn1:hover {
  width: 200px;
  background-color: rgba(5, 183, 183, 0.872);
}
.header-again {
  margin-top: 96px;
  display: flex;
  position: relative;
  top: 30px;
}
.again-h1 {
  position: relative;
  top: 6px;
  font-size: 57px;
  width: 600px;
  font-family: monospace;
}
.again-span {
  color: palevioletred;
}
.again-import {
  position: relative;
  top: 36px;
  font-size: 18px;
  color: #0f010173;
}
.again-btn {
  width: 165px;
  height: 49px;
  border: none;
  border-radius: 5px;
  background-color: #d23166;
  color: #fff;
  margin-top: 86px;
  transition: all 0.4s linear;
}
.again-btn:hover {
  background-color: rgba(17, 75, 209, 0.742);
  width: 250px;
}
.again-img {
  position: relative;
  top: -70px;
  transition: 0.3s ease;
}
.again-img:hover {
  transform: translateY(30px);
}
.again-p {
  font-size: 14px;
}
/* HEADER AND AGAIN END  */
.footer-title {
  width: 250px;
  height: 200px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.155);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
.footer-title:hover {
  transform: translateY(30px);
  background-color: antiquewhite;
}
.footer-poragraph {
  margin-top: 100px;
  display: flex;
  gap: 39px;
}
.footer-h1 {
  font-weight: 600;
  font-size: 20px;
  font-family: monospace;
}
.footer-p {
  margin-top: -30px;
  text-align: center;
  font-size: 14px;
  color: #0000008d;
}
/* FOOTER END */
.article-header {
  width: 100%;
  height: 444px;
  background-color: #f2ceda9c;
  margin-top: 109px;
}
.article-tite {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article-porgraph {
  display: flex;
}
.article-img {
  position: relative;
  left: 155px;
  transition: transform 0.3s ease;
}
.article-img:hover {
  transform: translateY(30px);
}
.article-h1 {
  position: relative;
  top: -16px;
  font-size: 44px;
  font-family: monospace;
}
.article-p {
  font-size: 16px;
  color: #00000080;
}
.article-btn {
  margin-top: 35px;
  width: 165px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #d64374;
  color: #fff;
  transition: all 0.4s linear;
}
.article-btn:hover {
  background-color: rgb(207, 183, 152);
  width: 220px;
  color: #000000;
}
/* ARTICLE END  */
.main-header {
  margin: 137px;
}
.main-title {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.main-links {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin-top: 64px;
}
.main-poragraph {
  display: flex;
  justify-content: space-between;
}
.main-keyingi {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: -60px;
}
.main-link {
  transition: all 0.3s linear;
}
.main-link:hover {
  transform: translateX(10px);
  color: rgb(243, 192, 126);
  border-radius: 5px;
}
.main-span {
  text-decoration: underline;
  color: #d64374;
  transition: all 0.3s linear;
}
.main-span:hover {
  transform: translateX(-20px);
}
.main-keyingi {
  display: flex;
}
.main-title2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 85px;
  gap: 16px;
}
.main-span2 {
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  color: #00000068;
  font-family: monospace;
}
.main2-h1 {
  font-size: 26px;
  font-weight: 500;
  font-family: monospace;
}
.main-h1 {
  font-family: monospace;
  display: flex;
  position: relative;
  left: 50%;
  top: -20px;
}
.main2-btn {
  border-radius: 5px;
  width: 165px;
  height: 49px;
  border: none;
  background-color: #d23166;
  color: #fff;
  transition: all 0.3s linear;
}
.main2-btn:hover {
  background-color: cadetblue;
  transform: translateX(30px);
}
.main3-poragraph {
  margin-top: 111px;
  display: flex;
  justify-content: space-between;
}
.main3-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.main-keyingi {
  margin-top: 100px;
}
.main5-img {
  transition: all 0.5s linear;
}
.main5-img:hover {
  transform: translateX(-30px);
}
.main6-img {
  transition: all 0.5s linear;
}
.main6-img:hover {
  transform: translateX(30px);
}
.main5-p {
  text-align: end;
  color: #0000006b;
}
.main3-btn {
  position: relative;
  border-radius: 5px;
  width: 165px;
  height: 49px;
  left: 250px;
  border: none;
  background-color: #d23166;
  color: #fff;
  transition: all 0.3s linear;
}
.main3-btn:hover {
  background-color: cadetblue;

  transform: translateX(-30px);
}
.main3-narx {
  position: relative;
  left: 265px;
}
.div- {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.div-poragraph {
  margin-top: 205px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.div-title {
  display: flex;
}
.div-span {
  font-size: 12px;
  font-weight: 500;
  margin-top: 32px;
  position: relative;
  right: 210px;
}
.div-h1 {
  position: relative;
  left: 20px;
  font-family: monospace;
}
.div-p {
  font-size: 16px;
  font-weight: 400;
  color: #0000006a;
}
.div-img {
  margin-top: -30px;
}

.div2-img {
  transition: all 0.3s linear;
}
.div2-img:hover {
  transform: translateX(-30px);
}
.div-header {
  display: flex;
  justify-content: space-between;
}
.div3-img {
  margin-top: 120px;
  transition: all 0.2s linear;
}
.div3-img:hover {
  transform: translatex(-40px);
}
/* END  */
.aside-header {
  width: 100%;
  background-color: #f2ceda9c;
  height: 678px;
}
.aside-poragraph {
  display: flex;
  justify-content: space-between;
}
.aside-title2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.aside-play2 {
  position: relative;
  top: 5px;
}
.aside-nom {
  display: flex;
  gap: 20px;
  font-size: 22px;
  font-family: monospace;
  transition: all 0.3s linear;
}
.aside-nom:hover {
  background-color: #d64374;
}
.aside-h1 {
  font-size: 44px;
  font-family: monospace;
  font-weight: 500;
}
.aside-p {
  font-size: 18px;
  font-weight: 400;
  color: #0000007d;
}
.aside-title {
  position: relative;
  top: 110px;
  transition: all 0.3s linear;
}
.aside-title:hover {
  transform: translateY(-80px);
}
/* ASIDE END  */

.section-header {
  width: 100%;
  height: 345px;
  margin-top: 145px;
}
.section-poragraph {
  display: flex;
  justify-content: center;
}
.section-h1 {
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  font-family: cursive;
}
.section-input {
  margin-top: 28px;
  width: 300px;
  height: 50px;
  border: none;
  background-color: #fafafa;
  border-radius: 5px;
  transition: all 0.3s linear;
  position: relative;
  left: 60px;
}
.section-input:focus {
  background-color: #95b2f1;
  border: #95b2f1;
}

.section-btn {
  height: 46px;
  width: 100px;
  position: relative;
  left: 60px;
  border: none;
  border-radius: 5px;
  background-color: #d64374;
  color: #fff;
  transition: all 0.5s linear;
}
.section-btn:hover {
  background-color: #95b2f1;
  width: 130px;
}
::placeholder {
  position: relative;
  left: 20px;
}
.aside-app {
  transition: all 3s linear;
}
.aside-app:hover {
  height: 100px;
}
.aside-apps {
  transition: all 3s linear;
}
.aside-apps:hover {
  height: 100px;
}
/* aside-end  */
.nav-header {
  width: 100%;
  height: 450px;
  background-color: #000000;
  display: flex;
  align-items: center;
}
.nav-poragraph {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-p {
  color: #fff;
}
.nav-p2 {
  color: #fff;
}
.nav-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-links {
  color: #fff;
}
.nav-links {
  list-style-type: none;
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.nav-img-head {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}
.nav-p2 {
  font-size: 12px;
  font-weight: 500;
  font-family: monospace;
}
.nav-p {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff8c;
}
.nav-span {
  font-size: 12px;
  color: #fff;
  transition: 0.2s linear;
}
.nav-span:hover {
  font-size: 20px;
  color: wheat;
}
.nav-links {
  color: #ffffff8c;
  font-size: 12px;
}
.nav-name {
  color: #fff;
  font-size: 16px;
  font-family: monospace;
  margin-top: 8pxpx;
}
.nav-input {
  width: 258px;
  height: 45px;
  background-color: #ffffff00;
  border-color: red;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.3s linear;
}
.nav-input:focus {
  background-color: #342f2fc3;
}
.nav-btn {
  height: 48px;
  width: 100px;
  background-color: #d23166;
  color: #fff;
  border-radius: 5px;
  position: relative;
  left: -5px;
  border: none;
  transition: all 0.3s linear;
}
.nav-btn:hover {
  width: 130px;
  background-color: #bcca8bee;
}
.nav-img {
  margin-top: 10px;
}
.nav-img {
  transition: all 0.3s linear;
}
.nav-img:hover {
  height: 40px;
}
